/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #0077b5; /* cor do link */
}

/* Header */
.App-header {
  background-color: #0077b5;
  color: fff;
  padding: 40px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.App-header h1 {
  font-size: 3em;
}

.App-header p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* About Me Section */
.about-me {
  padding: 40px;
  text-align: center;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
}

.about-me h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #666;
}

/* Projects Section */
.projects {
  padding: 40px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
}

.projects h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;  /* Espaçamento entre os cards */
  justify-content: center;  /* Centraliza os posts */
  margin-top: 30px;
}

.post-card {
  width: 400px;  /* Tamanho fixo para os cards */
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;  /* Cor de fundo do card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra inicial */
  transition: box-shadow 0.3s ease-in-out;  /* Transição suave para o efeito de hover */
  margin-bottom: 20px;
}

.post-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Sombra mais forte ao passar o mouse */
}

iframe {
  width: 100%;  /* Faz o iframe se ajustar ao tamanho do card */
  border-radius: 8px;
}
footer {
  background-color: #0077b5; /* Cor azul do header */
  color: #fff; /* Texto branco */
  padding: 20px; /* Adiciona um padding para dar espaçamento */
  text-align: center; /* Centraliza o texto */
}

footer a {
  color: #fff; /* Cor do link branco */
  text-decoration: none; /* Remove o sublinhado do link */
}

footer a:hover {
  text-decoration: underline; /* Sublinha o link quando o cursor passa por cima */
}
